.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.black{
  color:black;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  color: black;
}

button{
  color: black;
}
